footer {
    color: aliceblue;
    width: 100%;
    height: auto;  
    background: url(../media/imagen-footer.jpg);
    float: left;
    background-size: cover;
    position: relative;
    &::before{
        background-color: rgba(0, 0, 0, 0.664);
        background-size: auto; 
        content: "";
        position: absolute;
        top: 0;
        bottom: 0; 
        width: 100%;
        height: 100%;
    }
}
.footer__section {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;

    .footer__section--about{
        margin-bottom: 20px;
        .footer__section--about--ul{    
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            gap: 2%;
            li{
               background-color: rgb(255, 255, 255);
               height: 35px;
               width: 35px;
               border-radius: 30px;
                @include flexDisplayContentAlign(flex,center,center);
                transition: all 0.5s;
                &:hover{
                    background-color: rgb(229, 19, 68);    
                }
            }
        }
        .footer__section--about--button{
            border: 2px solid #fff;
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 20px;
            transition: all 1s ease;
            display: inline-block;
            &:hover{
                background-color: rgb(229, 19, 68);
                border: none;
            }
        }

    }
    .footer__section--horarios{

        ul{

            li{

                span{
                    float: right;
                    color: red;
                }
            }
        }

    }
    .footer__section--contacto{
        margin-top: 20px;

        ul{
            margin-top: 10px;

            li{      
                display: flex;         
                margin-top: 5px;
               div{
                width: 20px;
                height: 20px;
                background-color: aliceblue;
                border-radius: 30px;
                margin-right: 10px;
                svg{
                    margin-right: 5px;
                    width: 15px;
                    height: 15px;
                    margin-left: 2px;
                }
               }
            }
        }
    }
    .footer__section--derechos{
        text-align: center;
    }
}

.logo-socials{
    width: 23px;
    height: 23px;
    transition: all 0.5s;
}