footer {
    color: aliceblue;
    width: 100%;
    height: auto;
    background-color: rgb(23, 23, 23);
}
.footer__section {
    margin-left: 20px;

    .footer__section--about{
        margin-bottom: 20px;
        .footer__section--about--ul{    
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            gap: 2%;
            li{
               background-color: rgb(255, 255, 255);
               height: 35px;
               width: 35px;
               border-radius: 30px;
                @include flexDisplayContentAlign(flex,center,center);
                transition: all 0.5s;
                &:hover{
                    width: 40px;
                    height: 40px;
                    background-color: rgb(45, 85, 195);    
                    .logo-socials{
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
        .footer__section--about--button{
            border: 1px solid rgb(233, 233, 233);
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
       
          
        }
       
    }
    .footer__section--horarios{
        
    }
    .footer__section--contacto{
        margin-top: 20px;

        ul{
            margin-top: 10px;
            
            li{      
                display: flex;         
                margin-top: 5px;
               div{
                width: 20px;
                height: 20px;
                background-color: aliceblue;
                border-radius: 30px;
                margin-right: 10px;
                svg{
                    margin-right: 5px;
                    width: 15px;
                    height: 15px;
                    margin-left: 2px;
                }
               }
            }
        }
    }
    .footer__section--derechos{
        text-align: center;
    }
}

.logo-socials{
    width: 23px;
    height: 23px;
    transition: all 0.5s;
}

