* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: fangsong;
  }
  
li{
  text-decoration: none;
  list-style: none;
}
body {
    font-family: 'Yeseva One', cursive;
}

hr{
  margin: 30px 30px
}