@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }


    .main-sobre-nosotros{
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      @include flexDisplayContentAlign(flex,center,center);
      flex-direction: column;
      img{
        width:80%;
        height: 300px;
      }
    }
   

    #un-poco{
      color: rgb(228, 25, 25);
      font-size: 35px;
    }

    #main-sobre-nosotros__button{
      border: none;
      color: black;
      background-color: rgb(228, 210, 15);
      width: 70%;
      height: 50px;
      font-size: 20px;
      margin: 30px 30px;
      transition: all 0.7s;
      &:hover{
        color: rgb(255, 253, 253);
        background-color: #3c3c3c;
      }
    }


    #main-sobre-nosotros__texto{
      font-size: 15px;
      font-weight: 500;
      color: rgba(51, 51, 51, 0.735);
    }

    #main-sobre-nosotros__line{
      height: 1px;
      width: 75%;
      background-color: black;
      margin-top: 10px;
    }



    //!menu especial!


.main-especialidades{
  background-image: url(../media/menu-main.jpg);
  background-size: cover;
  position: relative;
  padding: 60px 0;
  margin-top: 20px;
  margin-bottom:20px;
  &::before {
    background-color: rgba(0, 0, 0, 0.80);
    background-size: auto;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
 

  div{
    position: relative;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    margin:10px 10px;
    font-size: 20px;
    ul{
      li{
        margin-bottom: 4px;
        span{
          float: right;
          color: red;
        }
      }
    }
    h2{
      margin-bottom: 20px;
    }  
  }
}

#main-especialidades__button{
  border-radius: 20px;
  font-size: 18px;
  width: 50%;
  margin-top: 20px;
  color: whitesmoke;
  background-color: rgb(195, 58, 58);
  border: none;
  transition: all 1s;
  &:hover{
    color: rgb(229, 0, 0);
    background-color: rgb(253, 253, 253);
    transform: scale(1.1);
  }
}


//SECITON 
.imagen{
  margin: 10px 0px 20px 0px;
}

.main-menu-del-dia{
  flex-direction: column;
  @include flexDisplayContentAlign(flex,center,center);
  .main-menu-del-dia__card{
    margin: 15px 15px;
    width: 80%;
    flex-direction: column;
    @include flexDisplayContentAlign(flex,center,left);
    .main-menu-del-dia__card__img{
      height: 100%;
      width: 100%;
      margin-bottom: 10px;
    }
    p{
      font-weight: 100;
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h3{
      font-size: 20px;
      color: rgb(0, 0, 0);
      font-weight: bolder;
    }
  }
}



#main-menu-del-dia__title{
  color: rgb(70, 70, 70);
  font-size: 40px;
}


.main-menu-del-dia__card__button{
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}







